{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/testconsole2/consoleheader.png",
      "fileBody" : "/testconsole2/consolebody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [40, 45, 434, 254],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 2,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [419, 263]
    }
  },

  "scripts" : ["/scripts/util.lua", "/testconsole2/testconsolegui.lua"],
  "scriptDelta" : 2,

  "canvasClickCallbacks" : {
    "scriptCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "scriptCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
  ]
}
