{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/scriptpaneconsole/consoleheader.png",
      "fileBody" : "/objects/scriptpaneconsole/consolebody.png"
    },
    "lblTestLabel" : {
      "type" : "label",
      "position" : [50, 50],
      "hAnchor" : "left",
      "value" : "count 0"
    },
    "btnTestButton" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [120, 50],
      "caption" : "Butt(on)",
      "callback" : "buttonPressed"
    },
    "tbTestTextbox" : {
      "type" : "textbox",
      "position" : [190, 50],
      "textAlign" : "center",
      "maxWidth" : 30,
      // "regex" : "x?\\d{0,4}",
      "hint" : "textbox",
      "callback" : "textboxChanged"
    },
    "grpTestGroup" : {
      "type" : "radioGroup",
      "position" : [260, 50],

      "buttons" : [
        {
          "id" : 0,
          "baseImage" : "/interface/crafting/sortuncommon.png",
          "baseImageChecked" : "/interface/crafting/sortuncommonselected.png",
          "position" : [0, 0],
          "size" : [7, 9],
          "pressedOffset" : [0,0],
          "data" : {
            "color" : "green"
          }
        },
        {
          "id" : 1,
          "baseImage" : "/interface/crafting/sortrare.png",
          "baseImageChecked" : "/interface/crafting/sortrareselected.png",
          "position" : [10, 0],
          "size" : [7, 9],
          "pressedOffset" : [0,0],
          "data" : {
            "color" : "blue"
          }
        },
        {
          "id" : 2,
          "baseImage" : "/interface/crafting/sortlegendary.png",
          "baseImageChecked" : "/interface/crafting/sortlegendaryselected.png",
          "position" : [20, 0],
          "size" : [7, 9],
          "pressedOffset" : [0,0],
          "data" : {
            "color" : "red"
          }
        }
      ],

      "callback" : "radioGroupChanged"
    },
    "btnTestCheckbox" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [300, 50],
      "callback" : "checkboxChanged"
    },
    "imgTestImage" : {
      "type" : "image",
      "file" : "/animations/cat/cat.png",
      "centered" : true,
      "position" : [100, 110],
      "maxSize" : [60, 60]
    },
    "prgTestProgress" : {
      "type" : "progress",
      "position" : [150, 90],
      "background" : "/interface/emptybar.png",
      "size" : [60, 8],
      "progressSet" : {
        "inner" : "/interface/healthbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 100,
      "initial" : 0
    },
    "sldTestSlider" : {
      "type" : "slider",
      "position" : [250, 90],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "sliderChanged",
      "range" : [0, 100, 1]
    },
    "close" : {
      "zlevel" : 2,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [413, 263]
    },
    "cvsTest" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [50, 150, 300, 300],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "buttonPressed",
    "textboxChanged",
    "sliderChanged",
    "radioGroupChanged",
    "checkboxChanged"
  ],

  "scripts" : ["/objects/scriptpaneconsole/scriptpaneconsolegui.lua"],
  "scriptDelta" : 1
}
