{
  "port" : 4951,
  "name" : "sbauth",
  "services" : {
    "sbauth" : {
      "config" : [
        "graph_title Starbound auth server stats",
        "graph_vlabel amount"
      ],
      "entries" : {
        "users" : {
          "config" : [
            "users.label users",
            "requests.type GAUGE"
          ]
        },
        "requests" : {
          "config" : [
            "requests.label Count per ${graph_period}",
            "requests.type DERIVE",
            "requests.min 0"
          ]
        },
        "getAuthKey" : {
          "config" : [
            "getAuthKey.label getAuthKey",
            "getAuthKey.type GAUGE"
          ]
        },
        "authorizeClient" : {
          "config" : [
            "authorizeClient.label authorizeClient",
            "authorizeClient.type GAUGE"
          ]
        },
        "authorizeClientFailure" : {
          "config" : [
            "authorizeClientFailure.label authorizeClientFailure",
            "authorizeClientFailure.type GAUGE"
          ]
        },
        "validateClient" : {
          "config" : [
            "validateClient.label validateClient",
            "validateClient.type GAUGE"
          ]
        },
        "validateClientFailure" : {
          "config" : [
            "validateClientFailure.label validateClientFailure",
            "validateClientFailure.type GAUGE"
          ]
        }
      }
    }
  }
}
