//top level npc type this is the "parent class" of all other NPCs
//this entry should have one of everything with a sane-ish default value
{
  "aiFunctions" : [ "defaultWander" ],
  "aiStateFunc" : "passiveCritter",

  "visibleRect" : [-3.125, -3.125, 3.125, 3.125],

  "baseHealth" : "10",
  "baseEnergy" : "10",
  "baseAttack" : "1",
  "baseDefense" : "1",
  "baseWeight" : "1",

  "description" : "If you're reading this, that means that the description for this enemy has not been set.",

  "hVelocity" : { "0" : 4.0 },
  "hAccel" : { "0" : 30.0, "1" : 30.0 },

  "vVelocity" : { "0" : 0.0 },
  "vAccel" : { "0" : 0.0 },

  "groundCorrectionLimit" : 0.01,
  "jumpSpeedMin" : 0.01,
  "fallSpeedMin" : -12.0,

  "flapFrames" : [ ],

  "jumpInitialVelocity" : 15.0,
  "jumpMaxVelocity" : 20.0,
  "fallVelocity" : -35.0,
  "jumpTimer" : 0.25,

  "gravity" : 60.0,

  "trackDist" : 10.0,
  "aggroDist" : 2.0,

  "aggression" : 0.5,

  "constitution" : 50,


  "animationStrings" : { },
  //FrameInfo key: [frame name prefix, number of frames, time in seconds to complete one full cycle, does the cycle repeat?, number of wind up frames, number of wind down frames]
  "frameInfo" : { "idle" : [ "idle", 1, 1.0, 1, 0, 0],
    "walk" : [ "walk", 1, 1.0, 1, 0, 0],
    "attack" : [ "attack", 1, 1.0, 1, 0, 0],
    "jump" : [ "jump", 1, 1.0, 0, 0, 0],
    "fall" : [ "fall", 1, 1.0, 0, 0, 0],
    "spinup" : [ "spinup", 1, 1.0, 0, 0, 0],
    "spindown" : [ "spindown", 1, 1.0, 0, 0, 0],
    "fly" : [ "fly", 1, 1.0, 1, 0, 0],
    "flymelee" : [ "flymelee", 1, 1.0, 0, 0, 0],
    "flyranged" : [ "flyranged", 1, 1.0, 0, 0, 0],
    "defense" : [ "defense", 1, 1.0, 0, 0, 0]
  },

  "attentionSpan" : 10,
  "soundSensitivity" : 10,

  "canSee" : 1,
  "psychic" : 0,
  "xRayVision" : 0,

  "attackBox" : { },
  "defenseBox" : { },
  "immuneBox" : { },
  "weakpointBox" : { },
  "collisionBox" : { },
  "damageBox" : { },
  "animationOffset" : { },
  "projectilePoint" : { }
}
