{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Bone ", "The Bone ", "Bony ", "Skeletal ", "Deathly ", "Cartilage ", "Dead ", "Death ", "Skeleton ", "Skull ", "Carrion ", "Bleached ", "Horror ", "The Macabre ", "Terror ", "Grave ", "Cemetary ", "Tomb " ],
      [ { "mode" : "alts" }, "Smasher", "Axe", "Chopper", "Dicer", "Renderer", "Slicer", "Hacker", "Cutter", "Killer", "Slasher", "Splitter", "Carnage", "Horror", "Calamity", "Carver", "Thunker", "Breaker" ]
    ]
  ]
}
