{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "All-Seeing ", "Staring ", "Piercing ", "Winking ", "Peeping ", "Gazing ", "Looker ", "Eyeball ", "Pupil ", "Cornea " ],
      [ { "mode" : "alts" }, "Stabber", "Blade", "Sword", "Dicer", "Renderer", "Slicer", "Hacker", "Cutter", "Killer", "Slasher", "Splitter", "Carnage", "Horror", "Calamity", "Carver" ]
    ]
  ]
}
