{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Burn ", "Flaming ", "Burning ", "Hot ", "Scorching ", "Searing ", "Fiery ", "Broiling ", "Sizzling ", "Blistering ", "Heated ", "Torrid ", "Conflagrant ", "Smoking ", "Smouldering " ],
      [ { "mode" : "alts" }, "Stabber", "Blade", "Sword", "Dicer", "Renderer", "Slicer", "Hacker", "Cutter", "Killer", "Slasher", "Splitter", "Carnage", "Horror", "Calamity", "Carver" ]
    ]
  ]
}
