{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Splash ", "Sea ", "Wave ", "Sandy ", "Surf ", "Typhoon ", "Aqua ", "Diving ", "Beach ", "Wet ", "Drowning ", "Cthulhu ", "Octopus ", "Seahorse ", "Hylotl ", "Shark " ],
      [ { "mode" : "alts" }, "Stabber", "Blade", "Sword", "Dicer", "Renderer", "Slicer", "Hacker", "Cutter", "Killer", "Slasher", "Splitter", "Carnage", "Horror", "Calamity", "Carver" ]
    ]
  ]
}
