{
  "stateTypes" : {
    "movement" : {
      "idle" : {
        "frames" : 1
      },
      "walk" : {
        "frames" : 8,
        "cycle" : 1.0,
        "mode" : "loop"
      }
    },

    "attack" : {
      "idle" : {
        "frames" : 1
      },
      "melee" : {
        "frames" : 4,
        "cycle" : 1.4,
        "mode" : "transition",
        "transition" : "idle"
      },
      "shooting" : {
        "frames" : 1
      }
    }
  },

  "partTypes" : {
    "backArm" : {
      "position" : [0, 0],
      "states" : {
        "attack" : {
          "melee" : "<base>:melee.<frame>"
        },
        "movement" : {
          "idle" : "<base>:idle",
          "walk" : "<base>:walk.<frame>"
        }
      }
    },

    "legs" : {
      "position" : [0, 0],
      "states" : {
        "movement" : {
          "idle" : "<base>:idle",
          "walk" : "<base>:walk.<frame>"
        }
      }
    },

    "chest" : {
      "position" : [0, 0],
      "states" : {
        "movement" : {
          "idle" : "<base>:idle",
          "walk" : "<base>:walk.<frame>"
        }
      }
    },

    "head" : {
      "position" : [0, 0],
      "states" : {
        "movement" : {
          "idle" : "<base>:idle",
          "walk" : "<base>:walk.<frame>"
        }
      }
    },

    "frontArm" : {
      "position" : [0, 0],
      "states" : {
        "attack" : {
          "melee" : "<base>:melee.<frame>"
        },
        "movement" : {
          "idle" : "<base>:idle",
          "walk" : "<base>:walk.<frame>"
        }
      }
    }
  },

  "rotationGroups" : {
    "projectileAim" : {
      "parts" : ["frontArm", "backArm"],
      "angularVelocity" : 1.5
    }
  },

  "particleEmitters" : {
    "damage" : {
      "emissionRate" : 2.0,
      "particle" : {
        "type" : "textured",
        "image" : "/particles/hazard/hazardstat.png",
        "size" : "1.0",
        "color" : [73, 179, 253, 255],
        "fade" : 0,
        "destructionAction" : "shrink",
        "destructionTime" : 7,
        "initialVelocity" : [3, 4],
        "finalVelocity" : [-3, 2],
        "approach" : [4, 1],
        "timeToLive" : 1,
        "aboveForeground" : false
      }
    }
  }
}
