{
  "converse" : {
    "default" : {
      "default" : [ "I'm a miner! Can you tell?" ]
    },
    "apex" : {
      "default" : [
        "I'm doing some research into nearby planetary ores.",
        "I'm a miner by trade. Gathering local ores is my skill.",
        "I used to mine for the Miniknog. I prefer this position.",
        "I'll collect some ores for you, come visit me now and then!",
        "I'm scouting the area for ores. I'll give you some if I find any!"
      ]
    },
    "human" : {
      "default" : [
        "I'm surveying the area for ores. I hope I'll find some!",
        "Always wear a hard hat when you're out mining! Safety first!",
        "If I find any cool ores in my expeditions, I'll let you know!",
        "Folks like me know how to find ores where no-one else can.",
        "If I find some ores, I'll give you a share!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran sssearch for rocksss in ground. Will ssshare, maybe.",
        "You wantsss some shiny rocksss? Floran can find sssome for you.",
        "Floran wantsss to find ssshiny rocksss in ground.",
        "Floran hunting! Not for ssstabbing, but finding shiny rocksss.",
        "Floran wantsss to ssstab rocksss with pickaxe! Might ssshare sssome, too."
      ]
    },
    "avian" : {
      "default" : [
        "Have you found any interesting things on your mining journeys?",
        "If I find anything exciting whilst mining, I'll try to share with you!",
        "Would you like me to gather some ores for you?",
        "I can find ores where no-one else can - I have a keen eye!",
        "My keen eye helps me find ores that no-one else can!"
      ]
    },
    "glitch" : {
      "default" : [
        "Eager. I am excited to search for local ores.",
        "Friendly. I'm searching for ores, and I'll let you have some if I find any.",
        "Excited. I have a feeling that I'll find lots of ores!",
        "Nervous. I'm not sure how many ores I can find around here.",
        "Welcoming. I wish to share some ores with you, once I find some."
      ]
    },
    "hylotl" : {
      "default" : [
        "There is an art to gathering materials from the ground beneath us.",
        "I am venturing for rare ores. I could give you some if I find any extra.",
        "Your digging tool sure is elegant. Maybe one day I could find one for myself.",
        "Mining with a pickaxe is the traditional method. There's an art to it!",
        "I shall share any ores I find with you."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's some ore!",
        "Take this ore!"
      ]
    },
    "apex" : {
      "default" : [
        "I have found some ores for you!",
        "Here - Take these ores as thanks.",
        "Take this ore as thanks for your time."       
      ]
    },
    "human" : {
      "default" : [
        "I found some ores! Here you go!",
        "I found some ores! Here's some for you.",
        "Here's something I found around here. It's for you!"
      ]
    },
    "avian" : {
      "default" : [
        "Kluex has blessed me with finding some useful ores. Take some, as thanks!",
        "My venturing has paid off! Here are some materials for you.",
        "I have found these materials for you. Hopefullythey are to your liking." 
      ]
    },
    "floran" : {
      "default" : [
        "Floran found ssssome ssshiny rocksss!",
        "Floran found ssshiny thing!",
        "Floran found sssome things. You ssshould take!"
      ]
    },
    "hylotl" : {
      "default" : [
        "I am feeling altruistic, please take these ores I mined.",
        "I've stumbled upon some raw materials you might want.",
        "I hope these ores I mined bring you happiness."
      ]
    },
    "glitch" : {
      "default" : [
        "Pleased. My venture was a success.",
        "Altruistic. Please take these ores I found.",
        "Generous. I found some ores you might be interested in."             
      ]
    }
  }
}