{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dusttest/dusttest.animation",
                "size" : 1.0,
                "rotation" : 0.14,
                "timeToLive" : 10.6
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/bugswarm1.ogg", "/sfx/projectiles/bugswarm2.ogg", "/sfx/projectiles/bugswarm3.ogg", "/sfx/projectiles/bugswarm4.ogg" ]
    }
  ]
}
