{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Outpost",
      "planetName" : "Survivors' Settlement",
      "warpAction" : "InstanceWorld:outpost",
      "icon" : "outpost"
    },
    {
      "name" : "Protectorate",
      "planetName" : "protectorate",
      "warpAction" : "InstanceWorld:protectorate",
      "icon" : "default"
    },
    {
      "name" : "Erchius Mining Facility",
      "planetName" : "lunarbase",
      "warpAction" : "InstanceWorld:lunarbase",
      "icon" : "default"
    },
    {
      "name" : "Floran Hunting Grounds",
      "planetName" : "floranmission1",
      "warpAction" : "InstanceWorld:floranmission1",
      "icon" : "default"
    },
    {
      "name" : "Dreadwing UFO Fight",
      "planetName" : "penguinmission1",
      "warpAction" : "InstanceWorld:penguinmission1",
      "icon" : "default"
    },
    {
      "name" : "Penguin Mech Testing",
      "planetName" : "penguinmission2",
      "warpAction" : "InstanceWorld:penguinmission2",
      "icon" : "default"
    },
    {
      "name" : "Hylotl Mission",
      "planetName" : "hylotlmission1",
      "warpAction" : "InstanceWorld:hylotlmission1",
      "icon" : "default"
    },
    {
      "name" : "Avian Mission",
      "planetName" : "avianmission1",
      "warpAction" : "InstanceWorld:avianmission1",
      "icon" : "default"
    },
    {
      "name" : "Apex Mission",
      "planetName" : "apexmission1",
      "warpAction" : "InstanceWorld:apexmission1",
      "icon" : "default"
    },
    {
      "name" : "Glitch Mission",
      "planetName" : "glitchmission1",
      "warpAction" : "InstanceWorld:glitchmission1",
      "icon" : "default"
    },
    {
      "name" : "Tentacle Mission",
      "planetName" : "tentaclemission",
      "warpAction" : "InstanceWorld:tentaclemission",
      "icon" : "default"
    },
    {
      "name" : "Challenge Portal",
      "planetName" : "challengerooms",
      "warpAction" : "InstanceWorld:challengerooms",
      "icon" : "default"
    },
    {
      "name" : "Ancient Vault - Fire",
      "planetName" : "ancientvault_fire",
      "warpAction" : "InstanceWorld:ancientvault_fire",
      "icon" : "default"
    },
    {
      "name" : "Ancient Vault - Poison",
      "planetName" : "ancientvault_poison",
      "warpAction" : "InstanceWorld:ancientvault_poison",
      "icon" : "default"
    },
    {
      "name" : "Ancient Vault - Electric",
      "planetName" : "ancientvault_electric",
      "warpAction" : "InstanceWorld:ancientvault_electric",
      "icon" : "default"
    },
    {
      "name" : "Ancient Vault - Ice",
      "planetName" : "ancientvault_ice",
      "warpAction" : "InstanceWorld:ancientvault_ice",
      "icon" : "default"
    }
  ]
}
